<h1>Order System</h1>

<p>take a new order</p>

<form action="/order/save">
    <section>
        <section>
            <h2>Drinks</h2>
        </section>
        <section>
            <label for="coffee">
                Coffee
                <input type="checkbox" name="drink" value="coffee" id="coffee">
            </label>

            <label for="tea">
                Tea
                <input type="checkbox" name="drink" value="tea" id="tea">
            </label>
        </section>
    </section>

    <input type="hidden" name="table" value="39">

    <button type="submit">
        Submit order
    </button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/order-form.js"></script>