<section>
    <h1>Order System</h1>

    <p>take a new order</p>
</section>

<form action="/order/save">
    <section>
        <section>
            <h2>Food</h2>
        </section>
        <section>
            {{#each food }}
                {{> orderInput title=title id=slug name=slug value=1 required=true price=price}}
            {{/each }}
        </section>
    </section>

    <input type="hidden" name="table" value="39">

    <button type="submit">
        Submit order
    </button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/order-form.js"></script>